.linesPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.colorButton {
  border: none;
  border-radius: 50px; /* This will make the edges round */
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.colorButton:hover {
  transform: translateY(-2px);
}

.colorButton:active {
  transform: translateY(1px);
}

.gold { background-color: gold; }
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }

.titleContainer {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.pageTitle {
  margin: 0;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.content {
  display: flex;
  height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.actionButton {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border-color: grey;
  font-weight: 500;
}

.actionButton.active {
  background-color: black;
  color: white;
}

.trainList {
  overflow-y: auto;
  height: 100%;
}

.trainSeparator {
  border-bottom: 1px solid black;
}

.trainItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.trainImageContainer img {
  width: 50px;
  height: 50px;
}

.trainInfoContainer {
  width: 50%;
}

.infoContainer {
  display: flex;
  align-items: center;
}

.lineColorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
}

.gold { background-color: gold; }
.red { background-color: red; }
.blue { background-color: blue; }
.green { background-color: green; }

.greenText {
  color: green;
  margin: 0 0 0 10px;
}

.arrivalTimeContainer p {
  font-size: 2em;
  margin: 0;
}
